<nav class="bg-gray-800 p-4 text-white">
  <ul class="flex space-x-6 max-w-[900px] mx-auto">
    <li>
      <a href="/" class="hover:underline">Главная</a>
    </li>
    <li>
      <a href="/books/create" class="hover:underline">Создать книгу</a>
    </li>
  </ul>
</nav>