<nav class="bg-gray-800 p-4 text-white">
  <ul class="flex w-[1140px] mx-auto px-4">
    <li>
      <a href="/" class="hover:underline">Главная</a>
    </li>
    <li class="ml-6">
      <a href="/books/create" class="hover:underline">Создать книгу</a>
    </li>
       <li class="ml-6">
      <a href="/profile" class="hover:underline">Профиль</a>
    </li>
    <li class="ml-auto">
      <a href="/api/user/logout" class="hover:underline">Выход</a>
    </li>
  </ul>
</nav>
