<%- include('./partials/header') %>
  <main>
    <div class="max-w-[1140px] mx-auto px-4 mb-6">
      <h2 class="text-3xl font-bold text-gray-800 py-4 border-b border-gray-300">
        <%- title %>
      </h2>
    </div>
    <%- include('./components/list') %>
  </main>
  <script src="/js/pages/mainPage.js" type="module"></script>
</body>
</html>
